body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
}

.container{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 450px;

    .pbtn{
        border: none;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
    }

    .pbtn:nth-child(3){
        border-right: none;
    }
    .pbtn:nth-child(6){
        border-right: none;
    }
    .pbtn:nth-child(9){
        border-right: none;
        border-bottom: none;
    }
    .pbtn:nth-child(7){
        border-bottom: none;
    }
    .pbtn:nth-child(8){
        border-bottom: none;
    }
}

.btn, .pbtn{
    width: 150px;
    height: 150px;
    background-color: white;
}

.btn:hover, .pbtn:hover{
    background-color: aliceblue;
}


